h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: var(--title-color);
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-size: 15px;
}

.PagPrincipal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    
}



#RoleParaBaixo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 18vh;
    
}

.Sobre_Mim{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    padding: 200px;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    
    
    
}

#SobreMim{
    width: 40%;
}



h2 {
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: var(--subtitle-color);
}

/* Para colocar cada linguagem que sei */
.container{
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    width: 650px;
    margin: 10vh auto;
    padding: auto;
    flex-direction: row;
}
.container > div {
    
    display: flex;
    width: 300px;
    height: 400px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    align-items: center;
    padding: 10px;
    margin: 2% 2%;
    flex-direction: column;
}
.subtitle{
    margin: 15% 15% 10%;
}


img#foto {
    height: 300px;
    width: 300px;
    border-radius: 50px;
}

footer {
    font-family: 'Poppins', sans-serif;
    background-color: var(--optional-color);
    width: 100%;
    color: rgb(0, 0, 0);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 20px;
    padding: 8px;
}

body {
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
}

@media (max-width: 768px){
    .container{
        background-color: var(--primary-color);
        border-radius: 15px;
        display: flex;
        width: 313px;
        margin: 10vh auto;
        padding: auto;
        flex-direction: column;
    }
    
    
    .Sobre_Mim{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: auto;
        padding: 200px;
        gap: 50px;
        align-items: center;
        align-content: center;
        margin: auto;
        
        
        
        
    }
    #SobreMim{
        width: 80%;
        margin: auto;
    }
}
