

h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: var(--title-color);
    text-align: center;
}

#Tema{
    height: 65px;
    width: 75px;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 0px;
    background-color: var(--bgcolor);
}


#Tema:hover{
    transform: scale(1.2)
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-size: 15px;
}

li{
    padding: 5px;
}

.img{
    height: 55px;
    width: 55px;
}

.PagPrincipal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.PagPrincipal > div{
    display: flex;
    padding-top: 15px;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

.PagPrincipal > #Logo{
    padding-top: 7vh;
}

.GIF{
    width: 100px;
    height: 10vh;
}

.Sobre_Mim{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: auto;
    gap: 50px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    
    
    
}

#Fazer_Linha{
    border-left: 2px solid var(--optional-color);
    padding-top: 150px;
    padding-left: 0px;
    padding-bottom: 150px;
    padding-right: 0px;
}

#SobreMim{
    width: 40%;
}



h2 {
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: var(--subtitle-color);
}

/* Para colocar cada linguagem que sei */
.container{
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    width: 650px;
    margin: 10vh auto;
    padding: auto;
    flex-direction: row;
    
    
    
    
    
}
.container > div {
    
    display: flex;
    width: 300px;
    height: 400px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    align-items: center;
    padding: 10px;
    margin: 2% 2%;
    flex-direction: column;
}

.Cimacontainer{
    padding-top: 40px;
}

.texto{
    width: 270px;
    word-wrap: break-word;
}

.texto-box{
    color: var(--text-box-color);
}

.subtitle{
    margin: 10% 10% 7%;
}


img#foto {
    height: 300px;
    width: 300px;
    border-radius: 50px;
}

footer {
    font-family: 'Poppins', sans-serif;
    background-color: var(--rodape-color);
    width: 100%;
    color: rgb(0, 0, 0);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 20px;
    padding: 8px;
}

body {
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
}

@media (max-width: 768px){
    .container{
        background-color: var(--primary-color);
        border-radius: 15px;
        display: flex;
        width: 480px;
        margin: 10vh auto;
        padding: auto;
        flex-direction: column;
    }

    .subtitle{
        margin: 5% 5% 3%;
    }

    .container > div {
    
        display: flex;
        width: 450px;
        height: 300px;
        background-color: var(--secondary-color);
        border-radius: 15px;
        align-items: center;
        padding: 10px;
        margin: 3% 3%;
        flex-direction: column;
    }

    .texto{
        width: 400px;
        word-wrap: break-word;
    }

    .Sobre_Mim{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 50px 100px;
        gap: 40px;
        align-items: center;
        align-content: center;
        margin: auto;
    }
    .Cimacontainer{
        width: 384px;
        display: flex;
        justify-items: center;
        margin: 0px auto;
    }
    

    #SobreMim{
        width: 100%;
        margin: auto;
        align-items: center;
        align-content: center;
        padding: 0px;
    }

    #Fazer_Linha{
        border-left: 0px;
        border-top: 2px solid var(--optional-color);
        padding-top: 0px;
        padding-left: 150px;
        padding-bottom: 0px;
        padding-right: 150px;
    }
}